@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Open+Sans&family=Oswald:wght@200;300;400;500&display=swap');
html,body{
        margin:0;
        font-family:Open Sans;
        font-weight:400;
        box-sizing: border-box;
    
}
.navbar{
    background-color:rgb(179, 68, 66);
    height:50px;
    text-align:right;
}
a{
    color:white;
    display:inline-block;
    margin: 20px;
    text-decoration:none;
}
img{
  height:350px;
  width:100%;
}
.hero-img{
    background-size:cover;
   text-align:center;
   opacity:80%;
}
.content{
    text-align:center;
}
.profile{
    display:inline-block;
    height:250px;
    width:auto;
}
footer{
    background-color:rgb(124, 177, 208);
    position:absolute;
    padding:0;
    text-align:center;
    box-sizing:border-box;
    width:100%;
}
.pagecontent{
    padding:20px;
}